sudo: false

language: python

cache: pip

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  matrix:
    - DJANGO=3.0.3
    - DJANGO=2.2.10
    - DJANGO=2.0.13
    - DJANGO=1.8.19
    - DJANGO=1.10.8
    - DJANGO=1.11.28

matrix:
  exclude:
    - python: "2.7"
      env: DJANGO=2.0.13
    - python: "2.7"
      env: DJANGO=2.2.10
    - python: "2.7"
      env: DJANGO=3.0.3
    - python: "3.4"
      env: DJANGO=2.2.10
    - python: "3.4"
      env: DJANGO=3.0.3
    - python: "3.5"
      env: DJANGO=3.0.3
    - python: "3.6"
      env: DJANGO=1.8.19
    - python: "3.6"
      env: DJANGO=1.10.8

install:
  - pip install -U Django==$DJANGO
  - pip install -Ur requirements-test.txt

script:
  - py.test -v --pep8 --cov=django_bootstrap_breadcrumbs --cov-report=term-missing

deploy:
  provider: pypi
  user: prymitive
  password:
    secure: AG4XNHGS0WlieYF+QviYA0k/Q9cLQQl2m53rKu3YjTE4r9uKR6ffAphm7fTNu7YS5dvfDIAGIrX60wM4Z9gm1mOWEBY8/LAjLDsCEN4myoUgVZXLtrEmzUUvyph8hBHw4OKJX17i36HUTFdEKrkWRti/zumpQoDcFhr1D8m37f4=
  on:
    tags: true
  distributions: sdist bdist_wheel
