<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="bootstrap-breadcrumbs : Django template tags for Twitter bootstrap breadcrumbs." />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>bootstrap-breadcrumbs</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/prymitive/bootstrap-breadcrumbs">View on GitHub</a>

          <h1 id="project_title">bootstrap-breadcrumbs</h1>
          <h2 id="project_tagline">Django template tags for Twitter bootstrap breadcrumbs.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/prymitive/bootstrap-breadcrumbs/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/prymitive/bootstrap-breadcrumbs/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>bootstrap-breadcrumbs</h1>

<p>Django template tags used to generate breadcrumbs html using twitter bootstrap css classes.</p>

<p>Requirements:</p>

<ul>
<li>django (tested with 1.4.1)</li>
<li>Twitter Bootstrap 2 (tested with 2.1)</li>
</ul><h1>Installation</h1>

<p>Just install it using pip:</p>

<pre><code>pip install django-bootstrap-breadcrumbs
</code></pre>

<p>After that make necessary changes to Django settings:</p>

<ul>
<li>add "django_bootstrap_breadcrumbs" to INSTALLED_APPS.</li>
<li>make sure that TEMPLATE_CONTEXT_PROCESSORS contains "django.core.context_processors.request".</li>
</ul><h1>Usage</h1>

<p>Use {% breadcrumb %} template tag to append all breadcrumbs links, syntax:</p>

<pre><code>{% breadcrumb $label $viewname [*args] %}

label - Breadcrumb link text.
viewname - Any string that can be resolved into view url with django reverse() function or django Model instance with implemented get_absolute_url() method.
args - Optional arguments to django's reverse() function.
</code></pre>

<p>viewname will be resolved into url using django reverse() function using:</p>

<pre><code>url = resolve(viewname, args=args)
</code></pre>

<p>If viewname cannot be resolved using reverse() than it will be rendered as is, so that static
url's can be used in {% breadcrumb %} template tags.</p>

<p>Finally use {% render_breadcrumbs %} to render all breadcrumbs links to html.
Remeber to use tags inside {% block %}.</p>

<h1>Example</h1>

<p>base.html:</p>

<pre><code>{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Users and groups" "users_and_groups_index" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
{% endblock %}
</code></pre>

<p>users.html:</p>

<pre><code>{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "users.views.index" %}
{% endblock %}
</code></pre>

<p>profile.html:</p>

<pre><code>{% extends "users.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb user "users.views.profile" user.username %}
{% endblock %}
</code></pre>

<p>Result:</p>

<pre><code>Home / Users and groups / Users / John Doe
</code></pre>

<p>It's also possible to use properties.</p>

<p>profile.html:</p>

<pre><code>{% extends "users.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb user.email "users.views.profile" user.username %}
{% endblock %}
</code></pre>

<p>Result:</p>

<pre><code>Home / Users and groups / Users / john.doe@example.org
</code></pre>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">bootstrap-breadcrumbs maintained by <a href="https://github.com/prymitive">prymitive</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-35268018-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
