<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>bootstrap-breadcrumbs by prymitive</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>bootstrap-breadcrumbs</h1>
          <h2>Django template tags for Twitter bootstrap breadcrumbs.</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/prymitive/bootstrap-breadcrumbs/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/prymitive/bootstrap-breadcrumbs/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/prymitive/bootstrap-breadcrumbs" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          <h1>bootstrap-breadcrumbs</h1>

<p>Django template tags used to generate breadcrumbs html using twitter bootstrap css classes.</p>

<p>Requirements:</p>

<ul>
<li>Twitter Bootstrap 2 (written with 2.1)</li>
</ul><h1>Usage</h1>

<p>Add "django_bootstrap_breadcrumbs" to INSTALLED_APPS.</p>

<p>Use {% breadcrumb %} template tag to append all breadcrumbs links, syntax:</p>

<pre><code>{% breadcrum $label $viewname [*args] %}

label - Breadcrum link text.
viewname - Any string that can be resolved into view url with django reverse() function.
args - Optional arguments to django's reverse() function.
</code></pre>

<p>viename will be resolved into url using django reverse() function using:</p>

<pre><code>url = resolve(viename, args=args)
</code></pre>

<p>If viename cannot be resolved using reverse() than it will be rendered as is, so that static
url's can be used in {% breadcrumb %} template tags.</p>

<p>Use {% render_breadcrumbs %} to render all breadcrumbs links to html.</p>

<h1>Example</h1>

<p>base.html:</p>

<pre><code>{% django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Users and groups" "users_and_groups_index" %}
{% endblock %}

{% block content %}
    {% render_breadcrumbs %}
{% endblock %}
</code></pre>

<p>users.html:</p>

<pre><code>{% django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Users" "users.views.index" %}
{% endblock %}
</code></pre>

<p>profile.html:</p>

<pre><code>{% django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb user.get_full_name "users.views.profile" user.username %}
{% endblock %}
</code></pre>
        </section>

        <footer>
          bootstrap-breadcrumbs is maintained by <a href="https://github.com/prymitive">prymitive</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>